*{
    font-family: Verdana, Geneva,
    Tahoma, sans-serif;
    font-size: 24px;
}

body{
    background: lightskyblue;
    background: linear-gradient(to right, lightskyblue, white);
}

.container
{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

figure{
    margin:auto;
    display: block;
    max-width: 75%;
    text-align: center;
}

img{
    max-width:25%;
    height: auto;
}

h1{
    text-align: center;
}

div{
    justify-content: space-between;
    display: flex;
}

.links{
    justify-content: space-between;
    display: flex;
}